<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!---Bootstrap CSS---->
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  </head>

  <body>
    <div class="container">
      <div class="my-5">
        <h4>Create New Contracts</h4>
        <form action="/contract" method="POST" class="form-inline" id="form">
          <div class="form-group my-4">
            <input type="text" name="firstname" placeholder="First Name" class="form-control <%= error.firstname ? "is-invalid" : "" %>" />
            <div class="invalid-feedback"><%= error.firstname %></div>
          </div>
          <div class="form-group my-4">
            <input type="text" name="lastname" placeholder="Last Name" class="form-control <%= error.lastname ? "is-invalid" : "" %>" />
            <div class="invalid-feedback"><%= error.lastname %></div>
          </div>
          <div class="form-group my-4">
            <input type="email" name="email" placeholder="Email" class="form-control <%= error.email ? "is-invalid" : "" %>" />
            <div class="invalid-feedback"><%= error.email %></div>
          </div>
          <div class="form-group my-4">
            <input type="number" name="phone" placeholder="Phone Number" class="form-control <%= error.phone ? "is-invalid" : "" %>" />
            <div class="invalid-feedback"><%= error.phone %></div>
          </div>
          <div class="form-group my-4">
            <input type="hidden" name="id" class="form-control" />
          </div>
          <input type="submit" class="btn btn-primary" value="Submit" />
        </form>
      </div>
    </div>

    <div class="container">
      <h4 class="my-4">Your Contracts</h4>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (let contract of contracts) { %>
          <tr>
            <td><%= contract?.firstname %></td>
            <td><%= contract?.lastname %></td>
            <td><%= contract?.email %></td>
            <td><%= contract?.phone %></td>
            <td>
              <button class="btn btn-warning btn-sm edit-btn" data-firstname="<%= contract.firstname %>" data-lastname="<%= contract.lastname %>" data-email="<%= contract.email %>" data-phone="<%= contract.phone %>" data-_id="<%= contract._id %>">Edit</button>
            </td>
            <td>
              <a class="btn btn-danger btn-sm" href="/contract/delete/<%= contract._id %>">Delete</a>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <!---Bootstrap CDN---->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <script>
      window.onload = function () {
        const editBtn = document.getElementsByClassName("edit-btn");
        const form = document.getElementById("form");
        [...editBtn].forEach((btn) =>
          btn.addEventListener("click", (e) => {
            const { firstname, lastname, email, phone, _id } = e.target.dataset;
            console.log(firstname, lastname, email, phone, _id);
            form[0].value = firstname;
            form[1].value = lastname;
            form[2].value = email;
            form[3].value = phone;
            form[4].value = _id;
            form[5].value = "Update";
          })
        );
      };
    </script>
  </body>
</html>
